# .gitignore

## Logs

logs/
*.log
npm-debug.log*

## Dependencies

node_modules/
**/node_modules/

## Build outputs

dist/
dist-ssr/
build/
*.local

## Environment

.env
.env.local
.env.*.local

## OS

.DS_Store
Thumbs.db
Desktop.ini

## Editor

# .vscode/
# **/.vscode/
!.vscode/settings.json
!**/.vscode/settings.json
# .idea/
# *.iml
# *.swp
# *.swo
# *.swn
# *.un~

## Coverage

coverage/

## Temporary

tmp/
temp/
*.tmp

##

_/
projects/_/